body{
  padding:0;
  margin:0;
  font-family:Roboto;
}
h1, h2, h3{
  font-family: 'Bebas Neue', cursive;
}
/* styling header links */
header ul{
  text-align: right;
  list-style-type: none;
}
header ul li{
  display: inline-block;
}
header ul li a{
  display:block;
  padding:5px 20px;
  text-decoration: none;
  color:black;
}
/* START OF two sections */
section:after{
  content:'';
  display:table;
  clear:both;
}
.name{
  color:tomato;
}
.half-width{
  float: left;
  width:40%;
  padding:2%;
  margin-left:4%;
}
.half-width h1{
  font-size: 80px;
  font-weight: 400;
  line-height:0.1;
}
.half-width p{
  font-size: 16px;
}
.name{
  color:slateblue;
}
.half-width img{
  width:100%;
}
.half-width p{
  margin-bottom:25px;
}
.linked-btn{
  text-decoration: none;
  color:white;
  background-image:linear-gradient(90deg, orange,tomato);
  padding:10px 25px;
  border-radius: 5px;
  font-weight: bold;
}
/* showcase projects */
.project-header{
  margin-top:25px;
  background-image:linear-gradient(90deg,transparent, rgb(175, 1, 126), transparent);
  width:100%;
  margin-bottom:25px;
  text-align: center;
}
.project-header h2{
  padding:10px 0;
  color:white;
  font-weight: 300;
  margin:0;
  font-size: 40px;
}
.latest{
  color:rgb(249, 183, 255);
}
.project-header:after{
  content:'';
  display:table;
  clear:both;
}
.single-project{
  float:left;
  width:25%;
  margin-left:6%;
}
.single-project p{
  color:rgb(136, 136, 136);
}
.single-project img{
  width:100%;
}
/* certificates */
.certificate-header{
  width:100%;
  background-image:linear-gradient(90deg, purple, transparent);
  text-align:left;
}
.certificate-header h4{
  color:white;
  padding:10px 0 10PX 6%;
  font-size: 18px;
}
.certificate{
  float:left;
  width:35%;
  margin-left:7%;
  padding:1% 4%;
}
.right{
  float:right;
}
.left img{
  border-left:7px solid;
  border-image: linear-gradient(180deg, purple, tomato);
  border-image-slice: 1;
}
.right img{
  border-left:7px solid;
  border-image:linear-gradient(180deg, purple, salmon);
  border-image-slice: 1;
}
.certificate img{
  width:80%;
}
/* inquiry */
.work{
  background-image: url("images/Group.png");
  margin:0 auto;
  margin-top:100px;
  width:600px;
  height: 100px;
  background-size: cover;
  background-position:center;
  text-align: center;
  background-size: cover;
  border-radius: 10px;
  padding:15px;
  text-align: center;
}
.work h3{
  font-size: 30px;
  padding: 15px 0;
  color: white;
  float: left;
  margin-top: 20px;
  font-weight: 400;
}
.work a{
  float:right;
  margin-top:35px;
}
/* footer */
footer{
  text-align: center;
  margin:20px auto 20px auto;

}
footer p{
  font-size: 12px;
}
footer h4{
  margin:5px 0;
}
footer ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
footer ul li{
  display: inline-block;
}
footer ul li img{
  width:20px;
  height:20px;
}